// .eslintignore
**/node_modules/*
**/out/*
**/.next/*
next.config.js
**/src/pages/_document.tsx
**/src/pages/_app.tsx
**/src/theme
**/src/assets/illustrations
**/src/redux/store.ts
*.config.js
*.setup.js


# template built-in components
**/src/components/animate
**/src/components/badge-status
**/src/components/carousel
**/src/components/chart
**/src/components/color-utils
**/src/components/confirm-dialog
**/src/components/custom-avatar
**/src/components/custom-breadcrumbs
**/src/components/custom-input
**/src/components/date-range-picker
**/src/components/editor
**/src/components/empty-content
**/src/components/file-thumbnail
**/src/components/hook-form
**/src/components/iconify
**/src/components/image
**/src/components/label
**/src/components/lightbox
**/src/components/loading-screen
**/src/components/logo
**/src/components/map
**/src/components/markdown
**/src/components/mega-menu
**/src/components/menu-popover
**/src/components/nav-section
**/src/components/organizational-chart
**/src/components/progress-bar
**/src/components/scroll-progress
**/src/components/scrollbar
**/src/components/search-not-found
**/src/components/settings
**/src/components/skeleton
**/src/components/snackbar
**/src/components/svg-color
**/src/components/table
**/src/components/text-max-line
**/src/components/upload


# template hooks
**/src/hooks/useActiveLink.ts
**/src/hooks/useCopyToClipboard.ts
**/src/hooks/useCountdown.ts
**/src/hooks/useDoubleClick.ts
**/src/hooks/useEventListener.ts
**/src/hooks/useOffsetTop.ts
**/src/hooks/useResponsive.ts


# template utils
**/src/utils/createEmotionCache.ts
**/src/utils/cssStyles.ts
**/src/utils/flattenArray.ts
**/src/utils/formatNumber.ts
**/src/utils/formatTime.ts
**/src/utils/highlight.ts
**/src/utils/localStorageAvailable.ts
